<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>

		<target xsi:type="File" name="allfile" fileName="${basedir}/Logs/ALL-${shortdate}.log"
				layout="${longdate:universalTime=false:format=yyyy-MM-dd HH:mm:ss.fff}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message}" />

		<target xsi:type="File" name="apifile" fileName="${basedir}/Logs/API-${shortdate}.log"
		layout="${longdate:universalTime=false:format=yyyy-MM-dd HH:mm:ss.fff}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message}" />
		
		<target xsi:type="File" name="msgbusfile" fileName="${basedir}/Logs/MessageBus-${shortdate}.log"
				layout="${longdate:universalTime=false:format=yyyy-MM-dd HH:mm:ss.fff}|${level:uppercase=true}|${logger}|${message}" />
		
		<target xsi:type="ColoredConsole" name="console"
				layout="${longdate:universalTime=false:format=yyyy-MM-dd HH:mm:ss.fff}|${level:uppercase=true}| ${logger}|${message} ${exception:format=toString}" >
			<highlight-word foregroundColor="Green" ignoreCase="true" text="INFO" wholeWords="true" />
			<highlight-word foregroundColor="Yellow" ignoreCase="true" text="DEBUG" wholeWords="true" />
			<highlight-word foregroundColor="Red" ignoreCase="true" text="ERROR" wholeWords="true" />
			<highlight-row backgroundColor="Black" foregroundColor="Purple" condition="level == LogLevel.Fatal" />
			<highlight-word foregroundColor="DarkRed" ignoreCase="true" text="FATAL" wholeWords="true" />
		</target>
	</targets>
	<rules>
		<!--Абсолютно все логи-->
		<logger name = "*" minlevel="Trace" writeTo="allfile"/>

		<!--Все логи от MessageBus-->
		<logger name = "MessageBus.*" minlevel="Trace" writeTo="console, msgbusfile" />
		
		<logger name = "Microsoft.*" minlevel="Info" writeTo="console, apifile"/>
		<!--Логи от API -->
		<logger name = "PersonalOffice.*" minlevel="Trace" writeTo="console, apifile"/>
	</rules>
</nlog>